
/* Bordered form */

form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    border: 3px solid #f1f1f1;
    display: inline-block;
    }
    body {
    padding-top: 5%;
    
    }
    
    
    /* Full-width inputs */
    input[type=text], input[type=password] ,input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    
    }
    textarea{
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 1px solid #ccc;
    box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
    opacity: 0.8;
    }
    
    /* Extra style for the cancel button (red) */
    .cancelbtn {
    padding: 14px 20px;
    background-color: white; 
    color: black;
    border: 2px solid #f44336;
    }
    
    .cancelbtn, .submitbtn {
    float: left;
    width: 47%;
    }
   
    .submitbtn {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      .cancelbtn:hover{
        background-color: #f44336;
        color: white;
      }
      
      .submitbtn:hover {
        background-color: #008CBA;
        color: white;
      }
    
    /* Add padding to containers */
    .container {
    padding: 16px;
    }
    
   /* log out button */
   .log-out-btn{
    background-color: lightskyblue;
    float:right;
    color: black;
    padding: 10px 10px;
    margin: 3px 2px;
    border: none;
    cursor: pointer;
 }
 .log-out-btn:hover{
    background-color: lightgreen;
    color: white;
 }
 /* navigation links */
   .navs{
       
        margin-top: 10px;
        position: absolute;
        left: 10px;
        bottom:40%;
        transition: 0.2s ease all;
   }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
    div.navs{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .cancelbtn,.submitbtn {
    width: 100%;
    }
    }
    

    