
/* Bordered form */

form {
margin-left: 25%;
margin-right:25%;
width: 50%;
border: 3px solid #f1f1f1;
display: inline-block;
}
body {
padding-top: 5%;

}


/* Full-width inputs */
input[type=number], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
select{
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;


}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {

padding: 14px 20px;
background-color: #f44336;
}

.cancelbtn, .loginbtn {
float: left;
width: 47%;
}



/* Add padding to containers */
.container {
padding: 16px;
}

/* The "Forgot password" text */
span.psw {
float: right;
padding-top: 16px;
padding-bottom: 30px;

}
/* The "sign up page link" text */
span.psy{
    float:left;
    padding-top:16px;
    padding-bottom: 30px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw{
display: block;
float: left;

}
span.psy{
    display:block;
    float:left;
  
}
.cancelbtn,.loginbtn {
width: 100%;
}
}
