<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<display-name>EmployeeRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursement</servlet-name>
  	<display-name>EmployeeReimbursement</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewReimbursementServlet</servlet-name>
  	<display-name>ViewReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.ViewReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayReimbursementServlet</servlet-name>
  	<display-name>DisplayReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerReimbursementViewServlet</servlet-name>
  	<display-name>ManagerReimbursementViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.ManagerReimbursementViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayReimbursementManagerServlet</servlet-name>
  	<display-name>DisplayReimbursementManagerServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayReimbursementManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerReimbursementUpdateServlet</servlet-name>
  	<display-name>ManagerReimbursementUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.ManagerReimbursementUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<url-pattern>/EmployeeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeReimbursement</servlet-name>
  	<url-pattern>/EmployeeReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewReimbursementServlet</servlet-name>
  	<url-pattern>/ViewReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayReimbursementServlet</servlet-name>
  	<url-pattern>/DisplayReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerReimbursementViewServlet</servlet-name>
  	<url-pattern>/ManagerReimbursementViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayReimbursementManagerServlet</servlet-name>
  	<url-pattern>/DisplayReimbursementManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerReimbursementUpdateServlet</servlet-name>
  	<url-pattern>/ManagerReimbursementUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
