<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<display-name>EmployeeRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeReimbursement</servlet-name>
  	<display-name>EmployeeReimbursement</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.EmployeeReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayAllEmployeeServlet</servlet-name>
  	<display-name>DisplayAllEmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayReimbursementByEmployeeIdServlet</servlet-name>
  	<display-name>DisplayReimbursementByEmployeeIdServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayReimbursementByEmployeeIdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerReimbursementViewServlet</servlet-name>
  	<display-name>ManagerReimbursementViewServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.ManagerReimbursementViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayAllReimbursementServlet</servlet-name>
  	<display-name>DisplayAllReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayAllReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerReimbursementUpdateServlet</servlet-name>
  	<display-name>ManagerReimbursementUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.ManagerReimbursementUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayPendingReimbursementServlet</servlet-name>
  	<display-name>DisplayPendingReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayPendingReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayRejectedReimbursementServlet</servlet-name>
  	<display-name>DisplayRejectedReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayRejectedReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayResolvedReimbursementServlet</servlet-name>
  	<display-name>DisplayResolvedReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.ers.controller.DisplayResolvedReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationServlet</servlet-name>
  	<url-pattern>/EmployeeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeReimbursement</servlet-name>
  	<url-pattern>/EmployeeReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayAllEmployeeServlet</servlet-name>
  	<url-pattern>/DisplayAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayReimbursementByEmployeeIdServlet</servlet-name>
  	<url-pattern>/DisplayReimbursementByEmployeeIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerReimbursementViewServlet</servlet-name>
  	<url-pattern>/ManagerReimbursementViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayAllReimbursementServlet</servlet-name>
  	<url-pattern>/DisplayAllReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerReimbursementUpdateServlet</servlet-name>
  	<url-pattern>/ManagerReimbursementUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayPendingReimbursementServlet</servlet-name>
  	<url-pattern>/DisplayPendingReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayRejectedReimbursementServlet</servlet-name>
  	<url-pattern>/DisplayRejectedReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayResolvedReimbursementServlet</servlet-name>
  	<url-pattern>/DisplayResolvedReimbursementServlet</url-pattern>
  </servlet-mapping>
</web-app>
